<div class='large-12'>
  <div class='large-6 column'>
    <h2><%= params[:controller].titleize %></h2>
  </div>
  <hr>
</div>

<div class='large-12'>
  <div class='medium-8 large-7 small-centered columns'>
    <div class='callout large'>
      <%= image_tag(current_user.avatar.url(:large), class: 'avatar-round-square') %>
    </div>

    <hr>
    <div class=''>
      <ul class='vertical medium-horizontal expanded menu text-center'>
        <li>
          <div class='stat'>
            <%= current_user.purchases.count %>
            <%= label_tag :order_items %>
          </div>
        </li>
        <li>
          <div class='stat'>
            <%= current_user.purchases.count %>
            <%= label_tag :purchases %>
          </div>
        </li>
        <li>
          <div class='stat'>
            <%= current_user.purchases.count %>
            <%= label_tag :purchases %>
          </div>
        </li>
      </ul>
    </div>
    <hr>

    <div class=''>
      <ul class='tabs' data-tabs id='profile-tabs'>
        <li class='tabs-title is-active'><a href='#profile-panel' aria-selected-'true'>Profile</a></li>
        <li class='tabs-title'><a href='#address-panel'>Addresses</a></li>
        <li class='tabs-title'><a href='#purchases-panel'>Purchases</a></li>
      </ul>

      <div class='tabs-content' data-tabs-content='profile-tabs'>
        <div class='tabs-panel is-active' id='profile-panel'>
          Email: <%= current_user.email %>
          <hr>
          <%= link_to 'Change your Password', edit_user_registration_path, class: 'button alert' %>
          <%= link_to 'Add Product', new_product_path, class: 'button' %>
        </div>
        <div class='tabs-panel' id='address-panel'>
          <%= render partial: 'addresses/addresses', locals: { addressable: current_user } %>
          <%= render partial: 'addresses/form', locals: { addressable: current_user } %>
        </div>
        <div class='tabs-panel' id='purchases-panel'>
          <table class='stack hover'>
            <thead>
              <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Other</th>
                <th></th>
              </tr>
            </thead>
            <% current_user.purchases.each do |purchase| %>
            <tbody>
              <tr>
                <td><%= purchase.id %></td>
                <td><%= purchase.status %></td>
                <td><%= purchase.status %></td>
                <td><%= link_to 'Receipt', purchase_path(purchase, format: :pdf) %></td>
              </tr>
            </tbody>
          <% end %>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
