<div class='large-12 row'>
  <div class='large-6 column'>
    <h1><%= params[:controller].titleize %></h1>
  </div>
  <div class='large-6 column'>
    <%#= link_to "Create Product", new_product_path, class: 'button right' %>
  </div>
  <hr>
</div>

<div class='row'>
  <div class='large-3 columns' data-sticky-container>
    <div class='sticky' data-sticky data-margin-top="0">
      <ul>
        <% @categories.each do |category| %>
          <li class=''>
          <%= link_to category.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <ul class='no-bullet'>
    <% @products.each do |product| %>
      <li class='large-3 medium-4 column'>
      <div class=''>
        <%= link_to product, class: 'thumbnail' do %>
          <%= image_tag(product.image.url) %>
        <% end %>
        <div class=''>
          <h4><%= product.name %></h4>
        </div>
        <div class=''>
          <%= render 'carts/add_to_cart', product: product, order_item: @order_item %>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>
