<div class='large-12'>
  <div class='large-6 column'>
    <h2><%= params[:controller].titleize %></h2>
  </div>
  <br>
</div>

<div id='cart' class='small-10 medium-8 large-8 column text-center'>
  <div class='text-center'>
    <p class=''> You've selected <span class='cart-count'><%= current_order.cart_count %></span> products</p>
      <hr>
  </div>

  <% @order_items.each do |order_item|%>
    <div class='large-12 cart-row'>
      <div class='column large-2 text-center radius-left'>
        <%= link_to order_item.product do %>
          <%= image_tag order_item.product.image, class: 'radius-left' %>
        <% end %>
      </div>
      <div class='column large-7 text-center top-aligned'>
        <p class=''> <%= order_item.product.name %> </p>
        <p class=''> <%= order_item.quantity %> </p>
      </div>
      <div class='column large-3 text-center radius-right'>
        <%= link_to "", remote: true, data: { url: order_item_path(order_item) } do %>
          <i class='fi-x right'></i>
        <% end %>
        <h4 class='text-aligned'><%= number_to_currency order_item.total_price %></h4>
      </div>
    </div>
  <% end %>

</div>

<div class='small-2 medium-4 large-4 column text-center'>
  Your Total: <span class='cart-total'><%= current_order.cart_total %></span>
  <hr>
  Subtotal: <span class='cart-subtotal'><%# <%= current_order.cart_subtotal %></span>
  <br>
  Shipping: <span class='cart-shipping-cost'><%# <%= current_order.cart_shipping_costs %></span>
  <br>
  Taxes: <span class='cart-taxes'><%# <%= current_order.cart_taxes %></span>
  <br>
  <%= link_to "Checkout", new_transaction_path, class: 'button large success hollow checkout' unless current_order.order_items.blank? %>
</div>
