<h2><%= params[:controller].titleize %></h2>

<div class='small-10 medium-8 large-8 column text-center'>

  <div class='text-center'>

    <p class=''> You've selected <span class='cart-count'><%= current_order.order_items.size %></span> products</p>
      <hr>
  </div>

  <% @order_items.each do |order_item|%>
    <div class='large-12 row cart-row'>
      <div class='column large-2 text-center'>
        <%= link_to order_item.product do %>
          <%= image_tag order_item.product.image, class: '' %>
        <% end %>
      </div>
      <div class='column large-7 text-center'>
        <p class=''> <%= order_item.product.name %> </p>
      </div>
      <div class='column large-3 text-center'>
        <%= link_to "" do %>
          <i class='fi-x right'></i>
        <% end %>
        <h4 class=''><%= number_to_currency order_item.product.price %></h4>
      </div>
    </div>
  <% end %>

</div>

<div class='small-2 medium-4 large-4 column text-center'>
  Your Total: <%= current_order.cart_total %>
  <hr>
  <%= link_to "Checkout", new_transaction_path, class: 'button large success hollow checkout' unless current_order.order_items.blank? %>
</div>
