<div class=''>
  <% current_user.addresses.each do |address| %>
    <p>City: <%= address.city %></p>
    <p>Type: <%= address.address_type %></p>
    <p>Default: <%= address.default %></p>
    <p><%= link_to 'Edit', '#', data: { open: "addressModal" }, address: address %>
    <%= link_to 'Delete', user_address_path(current_user, address), method: :delete %></p>
    <hr>
  <% end %>
</div>

<%= link_to 'Create Address', '#', data: { open: "addressModal" }, class: 'button' %>
