<div class='row column'>
  <h1><%= params[:controller].titleize %></h1>
  <hr>
</div>

<table>
  <thead>
    <tr>
      <th>Tracking Number</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.id %></td>
        <td><%= order_item.product.name %></td>
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency order_item.total_price %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan='3'>Total</td>
      <td><%= number_to_currency current_order.cart_total %></td>
    </tr>
  </tfoot>
</table>
