<div class='large-12'>
  <div class='large-6 column'>
    <h2><%= params[:controller].titleize %></h2>
  </div>
  <hr>
</div>

<div class='small-10 small-centered medium-8 large-6 columns text-center'>
  <%= form_tag transactions_path do %>
    <%= render 'customer_form' unless current_user.has_payment_info? %>
    <br>
    <p>Please enter your payment details:</p>
    <div id='payment-form'></div>
    <br>
    <%= submit_tag "Pay #{current_order.cart_total}$", class: 'button' %>
  <%end%>
</div>

<script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>
<script>
  var clientToken = "<%= @client_token %>";

  braintree.setup(clientToken, "dropin", {
    container: "payment-form",
    paypal: {
      singleUse: false,
      currency: 'USD',
      locale: 'en_us'
    },
    dataCollector: {
      paypal: true  // Enables fraud prevention
    }
  });
</script>
