<hr>
<%= form_for @product do |f| %>
  <div class='card large-8'>
    <div class='card-header'>
    </div>
    <div class='card-copy'>
      <%= f.text_field :name, placeholder: 'Name', class: 'form_field' %>
      <%= f.text_field :description, placeholder: 'Descriptions', class: 'form_field' %>
      <%= collection_select(:product, :category_id, Category.includes(:subcategories).where(:parent_id => nil), :id, :name) %>
    </div>
  </div>
  <div class='card large-8'>
    <div class='card-header'>
      <h5>Images</h5>
    </div>
    <div class='card-copy'>
      <%= f.file_field :image, class: '' %>
    </div>
  </div>
  <div class='card large-8'>
    <div class='card-header'>
    </div>
    <div class='card-copy'>
      <h5>Pricing</h5>
      <%= f.number_field :price, placeholder: '0,00', class: 'form_field' %>
    </div>
    <div class='card-copy'>
      <h5>Inventory</h5>
      <%= f.text_field :price, placeholder: 'Price', class: 'form_field' %>
    </div>
    <div class='card-copy'>
      <h5>Shipping</h5>
      <%= f.text_field :price, placeholder: 'Price', class: 'form_field' %>
    </div>
  </div>
  <hr>
  <%= f.submit "Create Products", class: 'button' %>
<% end %>
