<div class='row column'>
  <h1><%= params[:controller].titleize %></h1>
  <hr>
</div>

<div class='row column'>
  <ul class='no-bullet'>
    <% @products.each do |product| %>
      <li class='large-3 medium-4 column'>
      <div class=''>
        <%= link_to product, class: 'thumbnail' do %>
          <%= image_tag(product.image.url) %>
        <% end %>
        <div class=''>
          <p><%= number_to_currency(product.unit_price, unit: '$') %></p>
        </div>
        <div class=''>
          <h4><%= product.name %></h4>
        </div>
        <div class=''>
          <%= form_for @order_items, url: orders_path, method: :post do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit 'Add to Cart', class: 'button expanded' %>
          <% end %>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>
