<div class='row'>
  <nav class='top-bar'>

  <div class='top-bar-left'>
    <ul class='menu no-bullet'>
      <li class='menu-text'>
        <i class='fi-shopping-cart'></i> <%= Rails.application.class.parent_name.titleize %>
      </li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Orders', order_items_path %></li>
    </ul>
  </div>

  <div class='top-bar-right'>
    <ul class='menu'>
      <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
        <li class='menu-text'><%= current_user.email %></li>
      <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
      <li><%= render 'layouts/cart_items' %></li>
    </ul>
  </div>

  </nav>
</div>
